
:host,
:root,
[data-theme] {
  --chakra-space-x-reverse: 0;
  --chakra-colors-transparent: transparent;
  --chakra-colors-black: #000000;
  --chakra-colors-white: #ffffff;
  --chakra-colors-whiteAlpha-100: rgba(255, 255, 255, 0.06);
  --chakra-colors-whiteAlpha-200: rgba(255, 255, 255, 0.08);
  --chakra-colors-whiteAlpha-700: rgba(255, 255, 255, 0.64);
  --chakra-colors-whiteAlpha-800: rgba(255, 255, 255, 0.8);
  --chakra-colors-whiteAlpha-900: rgba(255, 255, 255, 0.92);
  --chakra-colors-gray-100: #edf2f7;
  --chakra-colors-gray-200: #e2e8f0;
  --chakra-colors-gray-500: #718096;
  --chakra-colors-gray-600: #4a5568;
  --chakra-colors-gray-700: #2d3748;
  --chakra-colors-gray-800: #1a202c;
  --chakra-colors-primary-100: #e6f3f4;
  --chakra-colors-primary-200: #cee7ea;
  --chakra-colors-primary-300: #9ccfd6;
  --chakra-colors-primary-400: #56b0bb;
  --chakra-colors-primary-500: #4a9ca6;
  --chakra-colors-primary-600: #448e97;
  --chakra-colors-primary-700: #3b8088;
  --chakra-colors-primary-800: #36737a;
  --chakra-colors-primary-900: #2e666d;
  --chakra-borders-none: 0;
  --chakra-borders-1px: 1px solid;
  --chakra-borders-2px: 2px solid;
  --chakra-borders-4px: 4px solid;
  --chakra-borders-8px: 8px solid;
  --chakra-fonts-body: Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, system-ui, -apple-system, sans-serif;
  --chakra-fontSizes-xs: 0.75rem;
  --chakra-fontSizes-sm: 0.875rem;
  --chakra-fontSizes-md: 1rem;
  --chakra-fontSizes-lg: 1.125rem;
  --chakra-fontSizes-3xl: 1.875rem;
  --chakra-fontSizes-4xl: 2.25rem;
  --chakra-fontSizes-5xl: 3rem;
  --chakra-fontSizes-6xl: 3.75rem;
  --chakra-fontWeights-medium: 500;
  --chakra-fontWeights-semibold: 600;
  --chakra-fontWeights-bold: 700;
  --chakra-letterSpacings-tight: -0.025em;
  --chakra-letterSpacings-normal: 0;
  --chakra-letterSpacings-wide: 0.025em;
  --chakra-letterSpacings-wider: 0.05em;
  --chakra-letterSpacings-widest: 0.1em;
  --chakra-lineHeights-3: 0.75rem;
  --chakra-lineHeights-4: 1rem;
  --chakra-lineHeights-5: 1.25rem;
  --chakra-lineHeights-6: 1.5rem;
  --chakra-lineHeights-7: 1.75rem;
  --chakra-lineHeights-8: 2rem;
  --chakra-lineHeights-9: 2.25rem;
  --chakra-lineHeights-10: 2.5rem;
  --chakra-lineHeights-normal: normal;
  --chakra-lineHeights-none: 1;
  --chakra-lineHeights-shorter: 1.25;
  --chakra-lineHeights-short: 1.375;
  --chakra-lineHeights-base: 1.5;
  --chakra-lineHeights-tall: 1.625;
  --chakra-lineHeights-taller: 2;
  --chakra-radii-none: 0;
  --chakra-radii-sm: 0.125rem;
  --chakra-radii-base: 0.25rem;
  --chakra-radii-md: 0.375rem;
  --chakra-radii-lg: 0.5rem;
  --chakra-radii-xl: 0.75rem;
  --chakra-radii-2xl: 1rem;
  --chakra-radii-3xl: 1.5rem;
  --chakra-radii-full: 9999px;
  --chakra-space-1: 0.25rem;
  --chakra-space-2: 0.5rem;
  --chakra-space-3: 0.75rem;
  --chakra-space-4: 1rem;
  --chakra-space-5: 1.25rem;
  --chakra-space-6: 1.5rem;
  --chakra-space-7: 1.75rem;
  --chakra-space-8: 2rem;
  --chakra-space-9: 2.25rem;
  --chakra-space-10: 2.5rem;
  --chakra-space-12: 3rem;
  --chakra-space-14: 3.5rem;
  --chakra-space-16: 4rem;
  --chakra-space-20: 5rem;
  --chakra-space-24: 6rem;
  --chakra-space-28: 7rem;
  --chakra-space-32: 8rem;
  --chakra-space-36: 9rem;
  --chakra-space-40: 10rem;
  --chakra-space-44: 11rem;
  --chakra-space-48: 12rem;
  --chakra-space-52: 13rem;
  --chakra-space-56: 14rem;
  --chakra-space-60: 15rem;
  --chakra-space-64: 16rem;
  --chakra-space-72: 18rem;
  --chakra-space-80: 20rem;
  --chakra-space-96: 24rem;
  --chakra-space-px: 1px;
  --chakra-space-0-5: 0.125rem;
  --chakra-space-1-5: 0.375rem;
  --chakra-space-2-5: 0.625rem;
  --chakra-space-3-5: 0.875rem;
  --chakra-shadows-xs: 0 0 0 1px rgba(0, 0, 0, 0.05);
  --chakra-shadows-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --chakra-shadows-base: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --chakra-shadows-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --chakra-shadows-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --chakra-shadows-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  --chakra-shadows-2xl: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  --chakra-shadows-outline: 0 0 0 3px rgba(66, 153, 225, 0.6);
  --chakra-shadows-inner: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
  --chakra-shadows-none: none;
  --chakra-shadows-dark-lg: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0.2) 0px 5px 10px, rgba(0, 0, 0, 0.4) 0px 15px 40px;
  --chakra-sizes-1: 0.25rem;
  --chakra-sizes-2: 0.5rem;
  --chakra-sizes-3: 0.75rem;
  --chakra-sizes-4: 1rem;
  --chakra-sizes-5: 1.25rem;
  --chakra-sizes-6: 1.5rem;
  --chakra-sizes-7: 1.75rem;
  --chakra-sizes-8: 2rem;
  --chakra-sizes-9: 2.25rem;
  --chakra-sizes-10: 2.5rem;
  --chakra-sizes-12: 3rem;
  --chakra-sizes-14: 3.5rem;
  --chakra-sizes-16: 4rem;
  --chakra-sizes-20: 5rem;
  --chakra-sizes-24: 6rem;
  --chakra-sizes-28: 7rem;
  --chakra-sizes-32: 8rem;
  --chakra-sizes-36: 9rem;
  --chakra-sizes-40: 10rem;
  --chakra-sizes-44: 11rem;
  --chakra-sizes-48: 12rem;
  --chakra-sizes-52: 13rem;
  --chakra-sizes-56: 14rem;
  --chakra-sizes-60: 15rem;
  --chakra-sizes-64: 16rem;
  --chakra-sizes-72: 18rem;
  --chakra-sizes-80: 20rem;
  --chakra-sizes-96: 24rem;
  --chakra-sizes-px: 1px;
  --chakra-sizes-0-5: 0.125rem;
  --chakra-sizes-1-5: 0.375rem;
  --chakra-sizes-2-5: 0.625rem;
  --chakra-sizes-3-5: 0.875rem;
  --chakra-sizes-max: max-content;
  --chakra-sizes-min: min-content;
  --chakra-sizes-full: 100%;
  --chakra-sizes-3xs: 14rem;
  --chakra-sizes-2xs: 16rem;
  --chakra-sizes-xs: 20rem;
  --chakra-sizes-sm: 24rem;
  --chakra-sizes-md: 28rem;
  --chakra-sizes-lg: 32rem;
  --chakra-sizes-xl: 36rem;
  --chakra-sizes-2xl: 42rem;
  --chakra-sizes-3xl: 48rem;
  --chakra-sizes-4xl: 56rem;
  --chakra-sizes-5xl: 64rem;
  --chakra-sizes-6xl: 72rem;
  --chakra-sizes-7xl: 80rem;
  --chakra-sizes-8xl: 90rem;
  --chakra-sizes-prose: 60ch;
  --chakra-sizes-container-sm: 640px;
  --chakra-sizes-container-md: 768px;
  --chakra-sizes-container-lg: 1024px;
  --chakra-sizes-container-xl: 1280px;
  --chakra-zIndices-hide: -1;
  --chakra-zIndices-auto: auto;
  --chakra-zIndices-base: 0;
  --chakra-zIndices-docked: 10;
  --chakra-zIndices-dropdown: 1000;
  --chakra-zIndices-sticky: 1100;
  --chakra-zIndices-banner: 1200;
  --chakra-zIndices-overlay: 1300;
  --chakra-zIndices-modal: 1400;
  --chakra-zIndices-popover: 1500;
  --chakra-zIndices-skipLink: 1600;
  --chakra-zIndices-toast: 1700;
  --chakra-zIndices-tooltip: 1800;
  --chakra-transition-property-common: background-color, border-color,
    color, fill, stroke, opacity, box-shadow, transform;
  --chakra-transition-property-colors: background-color, border-color,
    color, fill, stroke;
  --chakra-transition-property-dimensions: width, height;
  --chakra-transition-property-position: left, right, top, bottom;
  --chakra-transition-property-background: background-color,
    background-image, background-position;
  --chakra-transition-easing-ease-in: cubic-bezier(0.4, 0, 1, 1);
  --chakra-transition-easing-ease-out: cubic-bezier(0, 0, 0.2, 1);
  --chakra-transition-easing-ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);
  --chakra-transition-duration-ultra-fast: 50ms;
  --chakra-transition-duration-faster: 100ms;
  --chakra-transition-duration-fast: 150ms;
  --chakra-transition-duration-normal: 200ms;
  --chakra-transition-duration-slow: 300ms;
  --chakra-transition-duration-slower: 400ms;
  --chakra-transition-duration-ultra-slow: 500ms;
  --chakra-blur-none: 0;
  --chakra-blur-sm: 4px;
  --chakra-blur-base: 8px;
  --chakra-blur-md: 12px;
  --chakra-blur-lg: 16px;
  --chakra-blur-xl: 24px;
  --chakra-blur-2xl: 40px;
  --chakra-blur-3xl: 64px;
  --chakra-breakpoints-base: 0em;
  --chakra-breakpoints-sm: 30em;
  --chakra-breakpoints-md: 48em;
  --chakra-breakpoints-lg: 62em;
  --chakra-breakpoints-xl: 80em;
  --chakra-breakpoints-2xl: 96em;
}

.chakra-ui-light :host:not([data-theme]),
.chakra-ui-light :root:not([data-theme]),
.chakra-ui-light [data-theme]:not([data-theme]),
[data-theme="light"] :host:not([data-theme]),
[data-theme="light"] :root:not([data-theme]),
[data-theme="light"] [data-theme]:not([data-theme]),
:host[data-theme="light"],
:root[data-theme="light"],
[data-theme][data-theme="light"] {
  --chakra-colors-chakra-body-text: var(--chakra-colors-gray-800);
  --chakra-colors-chakra-body-bg: var(--chakra-colors-white);
  --chakra-colors-chakra-border-color: var(--chakra-colors-gray-200);
  --chakra-colors-chakra-inverse-text: var(--chakra-colors-white);
  --chakra-colors-chakra-subtle-bg: var(--chakra-colors-gray-100);
  --chakra-colors-chakra-subtle-text: var(--chakra-colors-gray-600);
  --chakra-colors-chakra-placeholder-color: var(--chakra-colors-gray-500);
}

.chakra-ui-dark :host:not([data-theme]),
.chakra-ui-dark :root:not([data-theme]),
.chakra-ui-dark [data-theme]:not([data-theme]),


html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  font-family: system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  touch-action: manipulation;
}

body {
  position: relative;
  min-height: 100%;
  margin: 0;
  font-feature-settings: "kern";
}

:where(*, *::before, *::after) {
  border-width: 0;
  border-style: solid;
  box-sizing: border-box;
  word-wrap: break-word;
}

main {
  display: block;
}

hr {
  border-top-width: 1px;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

:where(pre, code, kbd, samp) {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  color: inherit;
  -webkit-text-decoration: inherit;
  text-decoration: inherit;
}

abbr[title] {
  border-bottom: none;
  -webkit-text-decoration: underline;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

:where(b, strong) {
  font-weight: bold;
}

small {
  font-size: 80%;
}

:where(sub, sup) {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

:where(button, input, optgroup, select, textarea) {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

:where(button, input) {
  overflow: visible;
}

:where(button, select) {
  text-transform: none;
}

:where(button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner) {
  border-style: none;
  padding: 0;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

:where([type="checkbox"], [type="radio"]) {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none !important;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: -webkit-box;
  display: -webkit-list-item;
  display: -ms-list-itembox;
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none !important;
}

:where(blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre) {
  margin: 0;
}

button {
  background: transparent;
  padding: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

:where(ol, ul) {
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

:where(button, [role="button"]) {
  cursor: pointer;
}

button::-moz-focus-inner {
  border: 0 !important;
}

table {
  border-collapse: collapse;
}

:where(h1, h2, h3, h4, h5, h6) {
  font-size: inherit;
  font-weight: inherit;
}

:where(button, input, optgroup, select, textarea) {
  padding: 0;
  line-height: inherit;
  color: inherit;
}

:where(img, svg, video, canvas, audio, iframe, embed, object) {
  display: block;
}

:where(img, video) {
  max-width: 100%;
  height: auto;
}

[data-js-focus-visible] :focus:not([data-focus-visible-added]):not([data-focus-visible-disabled]) {
  outline: none;
  box-shadow: none;
}

select::-ms-expand {
  display: none;
}

:root,
:host {
  --chakra-vh: 100vh;
}

@supports (height: -webkit-fill-available) {

  :root,
  :host {
    --chakra-vh: -webkit-fill-available;
  }
}

@supports (height: -moz-fill-available) {

  :root,
  :host {
    --chakra-vh: -moz-fill-available;
  }
}

@supports (height: 100dvh) {

  :root,
  :host {
    --chakra-vh: 100dvh;
  }
}


body {
  font-family: var(--chakra-fonts-body);
  color: var(--chakra-colors-chakra-body-text);
  background: var(--chakra-colors-chakra-body-bg);
  transition-property: background-color;
  transition-duration: var(--chakra-transition-duration-normal);
  line-height: var(--chakra-lineHeights-base);
}

*::-webkit-input-placeholder {
  color: var(--chakra-colors-chakra-placeholder-color);
}

*::-moz-placeholder {
  color: var(--chakra-colors-chakra-placeholder-color);
}

*:-ms-input-placeholder {
  color: var(--chakra-colors-chakra-placeholder-color);
}

*::placeholder {
  color: var(--chakra-colors-chakra-placeholder-color);
}

*,
*::before,
::after {
  border-color: var(--chakra-colors-chakra-border-color);
}


.css-hx86el {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  background: var(--chakra-colors-white);
  color: var(--chakra-colors-gray-600);
  height: 54px;
  padding-top: 14px;
  padding-bottom: 14px;
  -webkit-padding-start: var(--chakra-space-4);
  padding-inline-start: var(--chakra-space-4);
  -webkit-padding-end: var(--chakra-space-4);
  padding-inline-end: var(--chakra-space-4);
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 20;
  width: var(--chakra-sizes-full);
}

@media screen and (min-width: 48em) {
  .css-hx86el {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    height: 71px;
    padding-top: 18px;
    padding-bottom: 18px;
    -webkit-padding-start: var(--chakra-space-8);
    padding-inline-start: var(--chakra-space-8);
    -webkit-padding-end: var(--chakra-space-8);
    padding-inline-end: var(--chakra-space-8);
  }
}


.css-16e54pg {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 48em) {
  .css-16e54pg {
    display: none;
  }
}


.css-1xik323 {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  white-space: nowrap;
  vertical-align: middle;
  outline: 2px solid transparent;
  outline-offset: 2px;
  line-height: 1.2;
  border-radius: 0.375rem;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  transition-duration: 200ms;
  height: 2rem;
  min-width: 2rem;
  font-size: 0.875rem;
  -webkit-padding-start: 0.75rem;
  padding-inline-start: 0.75rem;
  -webkit-padding-end: 0.75rem;
  padding-inline-end: 0.75rem;
  border: 1px solid;
  border-color: currentColor;
  color: #448e97;
  background: transparent;
  font-weight: 500;
}

.css-1xik323:focus-visible,
.css-1xik323[data-focus-visible] {
  box-shadow: var(--chakra-shadows-outline);
}

.css-1xik323:disabled,
.css-1xik323[disabled],
.css-1xik323[aria-disabled="true"],
.css-1xik323[data-disabled] {
  opacity: 0.4;
  cursor: not-allowed;
  box-shadow: var(--chakra-shadows-none);
}

.css-1xik323:hover,
.css-1xik323[data-hover] {
  background: var(--chakra-colors-gray-100);
}

.css-1xik323:hover:disabled,
.css-1xik323[data-hover]:disabled,
.css-1xik323:hover[disabled],
.css-1xik323[data-hover][disabled],
.css-1xik323:hover[aria-disabled="true"],
.css-1xik323[data-hover][aria-disabled="true"],
.css-1xik323:hover[data-disabled],
.css-1xik323[data-hover][data-disabled] {
  background: initial;
}

.css-1xik323:active,
.css-1xik323[data-active] {
  background: var(--chakra-colors-gray-200);
}


.css-aer440 {
  display: inline-block;
  line-height: 1em;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  color: var(--chakra-colors-black);
  vertical-align: middle;
  width: var(--chakra-sizes-6);
  height: var(--chakra-sizes-6);
}


.css-5cga1j {
  transition-property: var(--chakra-transition-property-common);
  transition-duration: var(--chakra-transition-duration-fast);
  transition-timing-function: var(--chakra-transition-easing-ease-out);
  -webkit-text-decoration: none;
  text-decoration: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
  color: inherit;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-end;
  -webkit-box-align: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
  cursor: pointer;
  margin-left: var(--chakra-space-4);
}

.css-5cga1j:focus-visible,
.css-5cga1j[data-focus-visible] {
  box-shadow: var(--chakra-shadows-outline);
}

@media screen and (min-width: 48em) {
  .css-5cga1j {
    margin-left: 0px;
  }
}

.css-5cga1j:hover,
.css-5cga1j[data-hover] {
  -webkit-text-decoration: none;
  text-decoration: none;
}


.css-hxtbiy {
  width: 146px;
  height: 25px;
}

@media screen and (min-width: 48em) {
  .css-hxtbiy {
    height: 35px;
  }
}

@media screen and (min-width: 62em) {
  .css-hxtbiy {
    width: 197px;
  }
}


.css-16pqtfo {
  padding-left: var(--chakra-space-1);
  font-weight: 500;
  font-size: 13px;
  color: var(--chakra-colors-primary-600);
}

@media screen and (min-width: 48em) {
  .css-16pqtfo {
    padding-left: 6px;
    font-size: var(--chakra-fontSizes-lg);
  }
}


.css-d05rhz {
  display: none;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.css-d05rhz>*:not(style)~*:not(style) {
  margin-top: 0px;
  -webkit-margin-end: 0px;
  margin-inline-end: 0px;
  margin-bottom: 0px;
  -webkit-margin-start: var(--chakra-space-2);
  margin-inline-start: var(--chakra-space-2);
}

@media screen and (min-width: 48em) {
  .css-d05rhz {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}


.css-xt1q3x {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  white-space: nowrap;
  vertical-align: middle;
  outline: 2px solid transparent;
  outline-offset: 2px;
  line-height: 1.2;
  border-radius: var(--chakra-radii-md);
  transition-property: var(--chakra-transition-property-common);
  transition-duration: var(--chakra-transition-duration-normal);
  height: var(--chakra-sizes-8);
  min-width: var(--chakra-sizes-8);
  font-size: var(--chakra-fontSizes-sm);
  -webkit-padding-start: var(--chakra-space-3);
  padding-inline-start: var(--chakra-space-3);
  -webkit-padding-end: var(--chakra-space-3);
  padding-inline-end: var(--chakra-space-3);
  border: 1px solid;
  color: var(--chakra-colors-gray-800);
  border-color: var(--chakra-colors-gray-200);
  font-weight: var(--chakra-fontWeights-medium);
}

.css-xt1q3x:focus-visible,
.css-xt1q3x[data-focus-visible] {
  box-shadow: var(--chakra-shadows-outline);
}

.css-xt1q3x:disabled,
.css-xt1q3x[disabled],
.css-xt1q3x[aria-disabled="true"],
.css-xt1q3x[data-disabled] {
  opacity: 0.4;
  cursor: not-allowed;
  box-shadow: var(--chakra-shadows-none);
}

.css-xt1q3x:hover,
.css-xt1q3x[data-hover] {
  background: var(--chakra-colors-gray-100);
}

.css-xt1q3x:hover:disabled,
.css-xt1q3x[data-hover]:disabled,
.css-xt1q3x:hover[disabled],
.css-xt1q3x[data-hover][disabled],
.css-xt1q3x:hover[aria-disabled="true"],
.css-xt1q3x[data-hover][aria-disabled="true"],
.css-xt1q3x:hover[data-disabled],
.css-xt1q3x[data-hover][data-disabled] {
  background: initial;
}

.chakra-button__group[data-attached][data-orientation="horizontal"]>.css-xt1q3x:not(:last-of-type) {
  -webkit-margin-end: -1px;
  margin-inline-end: -1px;
}

.chakra-button__group[data-attached][data-orientation="vertical"]>.css-xt1q3x:not(:last-of-type) {
  margin-bottom: -1px;
}

.css-xt1q3x:active,
.css-xt1q3x[data-active] {
  background: var(--chakra-colors-gray-200);
}


.css-xl71ch {
  pointer-events: none;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-width: 0px;
}


.css-1hzyiq5 {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-margin-start: 0.5rem;
  margin-inline-start: 0.5rem;
}


.css-onkibi {
  width: 1em;
  height: 1em;
  display: inline-block;
  line-height: 1em;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  color: currentColor;
  vertical-align: middle;
}


.css-r6z5ec {
  z-index: 1;
}


.css-1kfu8nn {
  outline: 2px solid transparent;
  outline-offset: 2px;
  --menu-bg: #fff;
  --menu-shadow: var(--chakra-shadows-sm);
  color: inherit;
  min-width: var(--chakra-sizes-3xs);
  padding-top: var(--chakra-space-2);
  padding-bottom: var(--chakra-space-2);
  z-index: 1;
  border-radius: var(--chakra-radii-md);
  border-width: 1px;
  background: var(--menu-bg);
  box-shadow: var(--menu-shadow);
}

.chakra-ui-dark .css-1kfu8nn:not([data-theme]),
[data-theme="dark"] .css-1kfu8nn:not([data-theme]),
.css-1kfu8nn[data-theme="dark"] {
  --menu-bg: var(--chakra-colors-gray-700);
  --menu-shadow: var(--chakra-shadows-dark-lg);
}


.css-1eghtmf {
  transition-property: var(--chakra-transition-property-common);
  transition-duration: var(--chakra-transition-duration-fast);
  transition-timing-function: var(--chakra-transition-easing-ease-out);
  cursor: pointer;
  outline: 2px solid transparent;
  outline-offset: 2px;
  color: inherit;
  -webkit-text-decoration: none !important;
  text-decoration: none !important;
}

.css-1eghtmf:hover,
.css-1eghtmf[data-hover] {
  -webkit-text-decoration: underline;
  text-decoration: underline;
}

.css-1eghtmf:focus-visible,
.css-1eghtmf[data-focus-visible] {
  box-shadow: var(--chakra-shadows-outline);
}


.css-18esm8n {
  -webkit-text-decoration: none;
  text-decoration: none;
  color: inherit;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: start;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  outline: 2px solid transparent;
  outline-offset: 2px;
  padding-top: var(--chakra-space-1-5);
  padding-bottom: var(--chakra-space-1-5);
  -webkit-padding-start: var(--chakra-space-3);
  padding-inline-start: var(--chakra-space-3);
  -webkit-padding-end: var(--chakra-space-3);
  padding-inline-end: var(--chakra-space-3);
  transition-property: var(--chakra-transition-property-background);
  transition-duration: var(--chakra-transition-duration-ultra-fast);
  transition-timing-function: var(--chakra-transition-easing-ease-in);
  background: var(--menu-bg);
}

.css-18esm8n:focus,
.css-18esm8n[data-focus] {
  --menu-bg: var(--chakra-colors-gray-100);
}

.chakra-ui-dark .css-18esm8n:focus:not([data-theme]),
.chakra-ui-dark .css-18esm8n[data-focus]:not([data-theme]),
[data-theme="dark"] .css-18esm8n:focus:not([data-theme]),
[data-theme="dark"] .css-18esm8n[data-focus]:not([data-theme]),
.css-18esm8n:focus[data-theme="dark"],
.css-18esm8n[data-focus][data-theme="dark"] {
  --menu-bg: var(--chakra-colors-whiteAlpha-100);
}

.css-18esm8n:active,
.css-18esm8n[data-active] {
  --menu-bg: var(--chakra-colors-gray-200);
}

.chakra-ui-dark .css-18esm8n:active:not([data-theme]),
.chakra-ui-dark .css-18esm8n[data-active]:not([data-theme]),
[data-theme="dark"] .css-18esm8n:active:not([data-theme]),
[data-theme="dark"] .css-18esm8n[data-active]:not([data-theme]),
.css-18esm8n:active[data-theme="dark"],
.css-18esm8n[data-active][data-theme="dark"] {
  --menu-bg: var(--chakra-colors-whiteAlpha-200);
}

.css-18esm8n[aria-expanded="true"],
.css-18esm8n[data-expanded] {
  --menu-bg: var(--chakra-colors-gray-100);
}

.chakra-ui-dark .css-18esm8n[aria-expanded="true"]:not([data-theme]),
.chakra-ui-dark .css-18esm8n[data-expanded]:not([data-theme]),
[data-theme="dark"] .css-18esm8n[aria-expanded="true"]:not([data-theme]),
[data-theme="dark"] .css-18esm8n[data-expanded]:not([data-theme]),
.css-18esm8n[aria-expanded="true"][data-theme="dark"],
.css-18esm8n[data-expanded][data-theme="dark"] {
  --menu-bg: var(--chakra-colors-whiteAlpha-100);
}

.css-18esm8n:disabled,
.css-18esm8n[disabled],
.css-18esm8n[aria-disabled="true"],
.css-18esm8n[data-disabled] {
  opacity: 0.4;
  cursor: not-allowed;
}


.css-spn4bz {
  transition-property: var(--chakra-transition-property-common);
  transition-duration: var(--chakra-transition-duration-fast);
  transition-timing-function: var(--chakra-transition-easing-ease-out);
  cursor: pointer;
  -webkit-text-decoration: none;
  text-decoration: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
  color: inherit;
}

.css-spn4bz:hover,
.css-spn4bz[data-hover] {
  -webkit-text-decoration: underline;
  text-decoration: underline;
}

.css-spn4bz:focus-visible,
.css-spn4bz[data-focus-visible] {
  box-shadow: var(--chakra-shadows-outline);
}


.css-10ey07l {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  white-space: nowrap;
  vertical-align: middle;
  outline: 2px solid transparent;
  outline-offset: 2px;
  line-height: 1.2;
  border-radius: var(--chakra-radii-md);
  transition-property: var(--chakra-transition-property-common);
  transition-duration: var(--chakra-transition-duration-normal);
  height: var(--chakra-sizes-8);
  min-width: var(--chakra-sizes-8);
  font-size: var(--chakra-fontSizes-sm);
  -webkit-padding-start: var(--chakra-space-3);
  padding-inline-start: var(--chakra-space-3);
  -webkit-padding-end: var(--chakra-space-3);
  padding-inline-end: var(--chakra-space-3);
  border: 1px solid;
  border-color: currentColor;
  color: var(--chakra-colors-primary-600);
  background: var(--chakra-colors-transparent);
  font-weight: var(--chakra-fontWeights-medium);
}

.css-10ey07l:focus-visible,
.css-10ey07l[data-focus-visible] {
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.6);
}

.css-10ey07l:disabled,
.css-10ey07l[disabled],
.css-10ey07l[aria-disabled="true"],
.css-10ey07l[data-disabled] {
  opacity: 0.4;
  cursor: not-allowed;
  box-shadow: none;
}

.css-10ey07l:hover,
.css-10ey07l[data-hover] {
  background: rgba(74, 156, 166, 0.1);
}

.css-10ey07l:hover:disabled,
.css-10ey07l[data-hover]:disabled,
.css-10ey07l:hover[disabled],
.css-10ey07l[data-hover][disabled],
.css-10ey07l:hover[aria-disabled="true"],
.css-10ey07l[data-hover][aria-disabled="true"],
.css-10ey07l:hover[data-disabled],
.css-10ey07l[data-hover][data-disabled] {
  background: initial;
}

.chakra-button__group[data-attached][data-orientation="horizontal"]>.css-10ey07l:not(:last-of-type) {
  -webkit-margin-end: -1px;
  margin-inline-end: -1px;
}

.chakra-button__group[data-attached][data-orientation="vertical"]>.css-10ey07l:not(:last-of-type) {
  margin-bottom: -1px;
}

.css-10ey07l:active,
.css-10ey07l[data-active] {
  background: #e6f3f4;
}


.css-1ijetl3 {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  white-space: nowrap;
  vertical-align: middle;
  outline: 2px solid transparent;
  outline-offset: 2px;
  line-height: 1.2;
  border-radius: 0.375rem;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  transition-duration: 200ms;
  height: 2rem;
  min-width: 2rem;
  font-size: 0.875rem;
  -webkit-padding-start: 0.75rem;
  padding-inline-start: 0.75rem;
  -webkit-padding-end: 0.75rem;
  padding-inline-end: 0.75rem;
  background: #4a9ca6;
  color: #ffffff;
  font-weight: 500;
}

.css-1ijetl3:focus-visible,
.css-1ijetl3[data-focus-visible] {
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.6);
}

.css-1ijetl3:disabled,
.css-1ijetl3[disabled],
.css-1ijetl3[aria-disabled="true"],
.css-1ijetl3[data-disabled] {
  opacity: 0.4;
  cursor: not-allowed;
  box-shadow: none;
}

.css-1ijetl3:hover,
.css-1ijetl3[data-hover] {
  background: #448e97;
}

.css-1ijetl3:hover:disabled,
.css-1ijetl3[data-hover]:disabled,
.css-1ijetl3:hover[disabled],
.css-1ijetl3[data-hover][disabled],
.css-1ijetl3:hover[aria-disabled="true"],
.css-1ijetl3[data-hover][aria-disabled="true"],
.css-1ijetl3:hover[data-disabled],
.css-1ijetl3[data-hover][data-disabled] {
  background: #4a9ca6;
}

.css-1ijetl3:active,
.css-1ijetl3[data-active] {
  background: #3b8088;
}


.css-16agjqd {
  overflow: hidden;
  width: 100%;
}


.css-1485kjp {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
}

.css-1485kjp>*:not(style)~*:not(style) {
  margin-top: 0.5rem;
  -webkit-margin-end: 0px;
  margin-inline-end: 0px;
  margin-bottom: 0px;
  -webkit-margin-start: 0px;
  margin-inline-start: 0px;
}


.css-1waldwx {
  width: 100%;
  -webkit-margin-start: auto;
  margin-inline-start: auto;
  -webkit-margin-end: auto;
  margin-inline-end: auto;
  max-width: 100%;
  padding-top: 0.5rem;
  -webkit-padding-start: 0.5rem;
  padding-inline-start: 0.5rem;
  -webkit-padding-end: 0.5rem;
  padding-inline-end: 0.5rem;
}

@media screen and (min-width: 30em) {
  .css-1waldwx {
    -webkit-padding-start: 15px;
    padding-inline-start: 15px;
    -webkit-padding-end: 15px;
    padding-inline-end: 15px;
  }
}

@media screen and (min-width: 48em) {
  .css-1waldwx {
    padding-top: 1rem;
  }
}

@media screen and (min-width: 62em) {
  .css-1waldwx {
    -webkit-padding-start: 2rem;
    padding-inline-start: 2rem;
    -webkit-padding-end: 2rem;
    padding-inline-end: 2rem;
  }
}


.css-1y73uiw {
  border-radius: 32px;
  height: 600px;
  position: relative;
}

@media screen and (min-width: 30em) {
  .css-1y73uiw {
    height: 556px;
  }
}

@media screen and (min-width: 48em) {
  .css-1y73uiw {
    height: 500px;
  }
}

.css-1y73uiw::after {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  content: "";
  background-image: linear-gradient(0deg,
      rgba(0, 0, 0, 0.65) 41.15%,
      rgba(0, 0, 0, 0.21) 100%);
  border-radius: 32px;
}


.css-1ho7uqx {
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  -webkit-padding-start: 1.5rem;
  padding-inline-start: 1.5rem;
  -webkit-padding-end: 1.5rem;
  padding-inline-end: 1.5rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

@media screen and (min-width: 48em) {
  .css-1ho7uqx {
    padding-top: 132px;
    padding-bottom: 84px;
  }
}


.css-17o7xnd {
  max-width: 841px;
  -webkit-margin-start: auto;
  margin-inline-start: auto;
  -webkit-margin-end: auto;
  margin-inline-end: auto;
  text-align: center;
  font-family: inherit;
  color: rgba(255, 255, 255, 0.92);
  font-weight: 700;
}

@media screen and (min-width: 0em) and (max-width: 61.98em) {
  .css-17o7xnd {
    font-size: 2.25rem;
    line-height: 1.2;
  }

  @media screen and (min-width: 48em) {
    .css-17o7xnd {
      font-size: 3rem;
      line-height: 1;
    }
  }
}

@media screen and (min-width: 62em) {
  .css-17o7xnd {
    font-size: 3rem;
    line-height: 1;
  }

  @media screen and (min-width: 48em) {
    .css-17o7xnd {
      font-size: 3.75rem;
    }
  }
}


.css-8ulcyx {
  text-align: center;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.64);
  padding-top: 1.5rem;
  font-weight: 500;
}

@media screen and (min-width: 30em) {
  .css-8ulcyx {
    padding-top: 1rem;
  }
}


.css-1eslg0f {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 1rem;
  padding-top: 1.5rem;
}

.css-1eslg0f>*:not(style)~*:not(style) {
  margin-top: 0.5rem;
  -webkit-margin-end: 0px;
  margin-inline-end: 0px;
  margin-bottom: 0px;
  -webkit-margin-start: 0px;
  margin-inline-start: 0px;
}

@media screen and (min-width: 48em) {
  .css-1eslg0f {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-top: 1rem;
  }

  .css-1eslg0f>*:not(style)~*:not(style) {
    margin-top: 0px;
    -webkit-margin-end: 0px;
    margin-inline-end: 0px;
    margin-bottom: 0px;
    -webkit-margin-start: 0.5rem;
    margin-inline-start: 0.5rem;
  }
}


.css-9lw9zd {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  border-radius: 0.75rem;
  padding: 0.5rem;
  cursor: pointer;
}

@media screen and (min-width: 48em) {
  .css-9lw9zd {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    width: 116px;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.css-9lw9zd:hover,
.css-9lw9zd[data-hover] {
  background-color: rgba(255, 255, 255, 0.08);
}


.css-14di11j {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.css-14di11j>*:not(style)~*:not(style) {
  margin-top: 0px;
  -webkit-margin-end: 0px;
  margin-inline-end: 0px;
  margin-bottom: 0px;
  -webkit-margin-start: 0.5rem;
  margin-inline-start: 0.5rem;
}

@media screen and (min-width: 48em) {
  .css-14di11j {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .css-14di11j>*:not(style)~*:not(style) {
    margin-top: 0.5rem;
    -webkit-margin-end: 0px;
    margin-inline-end: 0px;
    margin-bottom: 0px;
    -webkit-margin-start: 0px;
    margin-inline-start: 0px;
  }
}


.css-vjbvzv {
  width: 2rem;
  height: 2rem;
  opacity: 0.5;
}

@media screen and (min-width: 48em) {
  .css-vjbvzv {
    width: 3rem;
    height: 3rem;
  }
}

.homepage-options:hover .css-vjbvzv {
  opacity: 1;
}


.css-5ylvyl {
  color: rgba(255, 255, 255, 0.8);
  margin-left: 0.75rem;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1rem;
}

@media screen and (min-width: 48em) {
  .css-5ylvyl {
    margin-left: 0px;
    font-size: 0.75rem;
    font-weight: 500;
  }
}


.css-1uoeg9b {
  line-height: 1em;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  color: currentColor;
  vertical-align: middle;
  display: block;
  opacity: 0.5;
  width: var(--chakra-sizes-6);
  height: var(--chakra-sizes-8);
}

@media screen and (min-width: 48em) {
  .css-1uoeg9b {
    display: none;
  }
}

.homepage-options:hover .css-1uoeg9b {
  opacity: 1;
}


.css-1sncys {
  width: var(--chakra-sizes-6);
  height: var(--chakra-sizes-6);
  display: inline-block;
  line-height: 1em;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  color: var(--chakra-colors-whiteAlpha-900);
  vertical-align: middle;
}

.home-options:hover .css-1sncys {
  opacity: 1;
}


.css-12vtkc7 {
  display: inline-block;
  line-height: 1em;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  color: currentColor;
  vertical-align: middle;
  width: var(--chakra-sizes-6);
  height: var(--chakra-sizes-6);
}


.css-1lh5qlb {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  margin-top: var(--chakra-space-2);
}

@media screen and (min-width: 48em) {
  .css-1lh5qlb {
    margin-top: var(--chakra-space-20) !important;
    -webkit-padding-start: var(--chakra-space-6);
    padding-inline-start: var(--chakra-space-6);
    -webkit-padding-end: var(--chakra-space-6);
    padding-inline-end: var(--chakra-space-6);
  }
}


.css-15zh2vs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 40px;
  max-width: 958px;
  padding-bottom: 94px;
}

.css-15zh2vs>*:not(style)~*:not(style) {
  margin-top: 0.5rem;
  -webkit-margin-end: 0px;
  margin-inline-end: 0px;
  margin-bottom: 0px;
  -webkit-margin-start: 0px;
  margin-inline-start: 0px;
}

@media screen and (min-width: 30em) {
  .css-15zh2vs {
    row-gap: 80px;
  }
}

@media screen and (min-width: 48em) {
  .css-15zh2vs {
    padding-bottom: 80px;
  }
}


.css-j94l58 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-column-gap: var(--chakra-space-10);
  column-gap: var(--chakra-space-10);
  margin-top: 0 !important;
  border-color: none !important;
}

.css-j94l58>*:not(style)~*:not(style) {
  margin-top: 0.5rem;
  -webkit-margin-end: 0px;
  margin-inline-end: 0px;
  margin-bottom: 0px;
  -webkit-margin-start: 0px;
  margin-inline-start: 0px;
}

@media screen and (min-width: 48em) {
  .css-j94l58 {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .css-j94l58>*:not(style)~*:not(style) {
    margin-top: 0px;
    -webkit-margin-end: 0px;
    margin-inline-end: 0px;
    margin-bottom: 0px;
    -webkit-margin-start: 0.5rem;
    margin-inline-start: 0.5rem;
  }
}

@media screen and (min-width: 48em) {
  .css-j94l58:nth-of-type(even) {
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    --chakra-space-x-reverse: 1;
    --chakra-divide-x-reverse: 1;
  }
}


.css-1r51y10 {
  -webkit-padding-start: var(--chakra-space-5);
  padding-inline-start: var(--chakra-space-5);
  -webkit-padding-end: var(--chakra-space-5);
  padding-inline-end: var(--chakra-space-5);
  padding-top: var(--chakra-space-10);
}

@media screen and (min-width: 48em) {
  .css-1r51y10 {
    -webkit-padding-start: 0px;
    padding-inline-start: 0px;
    -webkit-padding-end: 0px;
    padding-inline-end: 0px;
    padding-top: var(--chakra-space-6);
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
}


.css-nbl3rt {
  font-weight: 700;
  text-transform: uppercase;
  color: #4a9ca6;
  font-size: 1rem;
  line-height: 1.25rem;
}


.css-oby2q0 {
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 2.25rem;
  padding-top: 1rem;
  color: #000000;
}


.css-11nj1q6 {
  font-weight: 400;
  padding-top: 1rem;
  line-height: 1.75rem;
  color: #4a5568;
}

@media screen and (min-width: 30em) {
  .css-11nj1q6 {
    font-size: 1rem;
  }
}

@media screen and (min-width: 48em) {
  .css-11nj1q6 {
    font-size: 1.125rem;
  }
}


.css-1w0bw7u {
  position: relative;
  display: none;
}

.css-1w0bw7u a[href]:not(.chakra-linkbox__overlay),
.css-1w0bw7u abbr[title] {
  position: relative;
  z-index: 1;
}

@media screen and (min-width: 48em) {
  .css-1w0bw7u {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}


.css-1lzwfrc {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  white-space: nowrap;
  vertical-align: middle;
  outline: 2px solid transparent;
  outline-offset: 2px;
  line-height: 1.2;
  border-radius: 0.375rem;
  font-weight: 600;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  transition-duration: 200ms;
  height: 3rem;
  min-width: 3rem;
  font-size: 1.125rem;
  -webkit-padding-start: 1.5rem;
  padding-inline-start: 1.5rem;
  -webkit-padding-end: 1.5rem;
  padding-inline-end: 1.5rem;
  border: 1px solid;
  border-color: #e2e8f0;
  color: inherit;
  background-color: rgba(255, 255, 255, 0.92);
  margin-top: 1rem;
}

.css-1lzwfrc:focus-visible,
.css-1lzwfrc[data-focus-visible] {
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.6);
}

.css-1lzwfrc:disabled,
.css-1lzwfrc[disabled],
.css-1lzwfrc[aria-disabled="true"],
.css-1lzwfrc[data-disabled] {
  opacity: 0.4;
  cursor: not-allowed;
  box-shadow: none;
}

.css-1lzwfrc:hover,
.css-1lzwfrc[data-hover] {
  background: #edf2f7;
}

.css-1lzwfrc:hover:disabled,
.css-1lzwfrc[data-hover]:disabled,
.css-1lzwfrc:hover[disabled],
.css-1lzwfrc[data-hover][disabled],
.css-1lzwfrc:hover[aria-disabled="true"],
.css-1lzwfrc[data-hover][aria-disabled="true"],
.css-1lzwfrc:hover[data-disabled],
.css-1lzwfrc[data-hover][data-disabled] {
  background: initial;
}

.chakra-button__group[data-attached][data-orientation="horizontal"]>.css-1lzwfrc:not(:last-of-type) {
  -webkit-margin-end: -1px;
  margin-inline-end: -1px;
}

.chakra-button__group[data-attached][data-orientation="vertical"]>.css-1lzwfrc:not(:last-of-type) {
  margin-bottom: -1px;
}

.css-1lzwfrc:active,
.css-1lzwfrc[data-active] {
  background: #e2e8f0;
}


.css-vh62rh {
  width: 14px;
  height: 14px;
  display: inline-block;
  line-height: 1em;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  color: currentColor;
  vertical-align: middle;
}


.css-q6hcku {
  background-repeat: no-repeat;
  -webkit-background-size: cover !important;
  background-size: cover !important;
  -webkit-background-position: center bottom;
  background-position: center bottom;
  background: linear-gradient(180deg,
      #fff 15.1%,
      rgba(255, 255, 255, 0) 100%),
    url(https://static.surveysparrow.com/application/marketplace/homepage/img-1.jpeg),
    rgba(0, 0, 0, 0.04);
  height: 176px;
  margin: 0 !important;
  width: 100%;
  border-radius: 0 0 32px 32px;
}

@media screen and (min-width: 48em) {
  .css-q6hcku {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: url(https://static.surveysparrow.com/application/marketplace/homepage/img-1.jpeg);
    height: 376px;
    border-radius: 32px;
  }
}


.css-1xfmci1 {
  position: relative;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.css-1xfmci1 a[href]:not(.chakra-linkbox__overlay),
.css-1xfmci1 abbr[title] {
  position: relative;
  z-index: 1;
}

@media screen and (min-width: 48em) {
  .css-1xfmci1 {
    display: none;
  }
}


.css-1l23psm {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  white-space: nowrap;
  vertical-align: middle;
  outline: 2px solid transparent;
  outline-offset: 2px;
  line-height: 1.2;
  border-radius: 0.375rem;
  font-weight: 600;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  transition-duration: 200ms;
  height: 3rem;
  min-width: 3rem;
  font-size: 1.125rem;
  -webkit-padding-start: 1.5rem;
  padding-inline-start: 1.5rem;
  -webkit-padding-end: 1.5rem;
  padding-inline-end: 1.5rem;
  border: 1px solid;
  border-color: #e2e8f0;
  color: inherit;
  background-color: rgba(255, 255, 255, 0.92);
  margin-left: 1.25rem;
  margin-top: 2rem;
}

.css-1l23psm:focus-visible,
.css-1l23psm[data-focus-visible] {
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.6);
}

.css-1l23psm:disabled,
.css-1l23psm[disabled],
.css-1l23psm[aria-disabled="true"],
.css-1l23psm[data-disabled] {
  opacity: 0.4;
  cursor: not-allowed;
  box-shadow: none;
}

.css-1l23psm:hover,
.css-1l23psm[data-hover] {
  background: #edf2f7;
}

.css-1l23psm:hover:disabled,
.css-1l23psm[data-hover]:disabled,
.css-1l23psm:hover[disabled],
.css-1l23psm[data-hover][disabled],
.css-1l23psm:hover[aria-disabled="true"],
.css-1l23psm[data-hover][aria-disabled="true"],
.css-1l23psm:hover[data-disabled],
.css-1l23psm[data-hover][data-disabled] {
  background: initial;
}

.chakra-button__group[data-attached][data-orientation="horizontal"]>.css-1l23psm:not(:last-of-type) {
  -webkit-margin-end: -1px;
  margin-inline-end: -1px;
}

.chakra-button__group[data-attached][data-orientation="vertical"]>.css-1l23psm:not(:last-of-type) {
  margin-bottom: -1px;
}

.css-1l23psm:active,
.css-1l23psm[data-active] {
  background: #e2e8f0;
}


.css-1d76nrn {
  background-repeat: no-repeat;
  -webkit-background-size: cover !important;
  background-size: cover !important;
  -webkit-background-position: center bottom;
  background-position: center bottom;
  background: linear-gradient(180deg,
      #fff 15.1%,
      rgba(255, 255, 255, 0) 100%),
    url(https://static.surveysparrow.com/application/marketplace/homepage/img-2.jpeg),
    rgba(0, 0, 0, 0.04);
  height: 176px;
  margin: 0 !important;
  width: 100%;
  border-radius: 0 0 32px 32px;
}

@media screen and (min-width: 48em) {
  .css-1d76nrn {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: url(https://static.surveysparrow.com/application/marketplace/homepage/img-2.jpeg);
    height: 376px;
    border-radius: 32px;
  }
}


.css-1p2ltt {
  background-repeat: no-repeat;
  -webkit-background-size: cover !important;
  background-size: cover !important;
  -webkit-background-position: center bottom;
  background-position: center bottom;
  background: linear-gradient(180deg,
      #fff 15.1%,
      rgba(255, 255, 255, 0) 100%),
    url(https://static.surveysparrow.com/application/marketplace/homepage/img-3.jpeg),
    rgba(0, 0, 0, 0.04);
  height: 176px;
  margin: 0 !important;
  width: 100%;
  border-radius: 0 0 32px 32px;
}

@media screen and (min-width: 48em) {
  .css-1p2ltt {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: url(https://static.surveysparrow.com/application/marketplace/homepage/img-3.jpeg);
    height: 376px;
    border-radius: 32px;
  }
}


.css-omzpjv {
  background-repeat: no-repeat;
  -webkit-background-size: cover !important;
  background-size: cover !important;
  -webkit-background-position: center bottom;
  background-position: center bottom;
  background: linear-gradient(180deg,
      #fff 15.1%,
      rgba(255, 255, 255, 0) 100%),
    url(https://static.surveysparrow.com/application/marketplace/homepage/img-4.jpeg),
    rgba(0, 0, 0, 0.04);
  height: 176px;
  margin: 0 !important;
  width: 100%;
  border-radius: 0 0 32px 32px;
}

@media screen and (min-width: 48em) {
  .css-omzpjv {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: url(https://static.surveysparrow.com/application/marketplace/homepage/img-4.jpeg);
    height: 376px;
    border-radius: 32px;
  }
}


.css-ojum0h {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  padding-bottom: var(--chakra-space-5);
  -webkit-margin-start: var(--chakra-space-5);
  margin-inline-start: var(--chakra-space-5);
  -webkit-margin-end: var(--chakra-space-5);
  margin-inline-end: var(--chakra-space-5);
}


.css-xos5ou {
  border-top: 0.5px solid rgba(0, 0, 0, 0.16);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: var(--chakra-space-10);
  padding-bottom: var(--chakra-space-10);
  max-width: 948px;
  width: 100%;
}


.css-tarpif {
  height: 43px;
  width: var(--chakra-sizes-36);
  margin-top: var(--chakra-space-4);
}


.css-m5vvnu {
  text-align: center;
  margin-top: var(--chakra-space-4);
  color: #3e4f53;
  font-size: var(--chakra-fontSizes-xs);
  height: 58px;
}


#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #4a9ca6;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
}

#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #4a9ca6, 0 0 5px #4a9ca6;
  opacity: 1;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  border: solid 2px transparent;
  border-top-color: #4a9ca6;
  border-left-color: #4a9ca6;
  border-radius: 50%;
  -webkit-animation: nprogresss-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}