
.outline-btn {
    height: 48px;
    font-size: 18px;
    width: 200px;
    background: none;
    font-weight: 550;
    border: none;
    outline: #E2E8F0 solid 2px;
    border-radius: 0.375rem;
  }
  
  .hero__title {
    font-size: 60px;
  }
  
  .sub-title {
    color: var(--ifm-color-primary);
  }
  
  .docs--container {
    padding: 20px;
    max-width: 1440px;
    margin: 0 auto;
  }
  
  .docs--title {
    color: var(--ifm-color-primary);
    font-size: 60px;
  }
  
  .docs--subtitle {
    color: var(--custom-text-gray);
    font-size: 22px;
    width: 80%;
  }
  
  .docs--tabContent {
    display: flex;
    gap: 20px;
  }
  
  .docs--tabText {
    font-size: 18px !important;
    color: var(--custom-text-gray);
    width: 500px;
  }
  
  .docs--iframe,
  .docs--image {
    border-radius: 32px;
    width: 450px;
    height: 320px;
  }
  
  .docs--featuredSection {
    font-size: 30px;
    font-weight: 600;
    margin: 20px 0;
  }
  
  .docs--appDescription {
    color: var(--custom-text-gray);
  }
  
  /* App card */
  .docs--appsContainer,
  .docs--articlesContainer {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    gap: 20px;
  }
  
  .docs--appCard,
  .docs--articleCard {
    display: flex;
    justify-content: space-between;
    max-width: 465px;
    min-height: 128px;
    border: 1px solid #CBD5E0;
    border-radius: 16px;
    padding: 24px;
  }
  
  .docs--appIcon {
    /* display: flex; */
  
    border-radius: 16px;
    border: 1px solid #CBD5E0;
    padding: 24px;
    margin-right: 10px;
  }
  
  .docs--articleImage {
    width: 152px;
    height: 152px;
    border-radius: 16px;
    /* border: 1px solid #CBD5E0; */
  }
  
  .docs--appInfo,
  .docs--articleInfo {
    margin-left: 16px;
  }
  
  .docs--appTitle,
  .docs--articleTitle {
    font-size: 20px;
    font-weight: 600;
  }
  
  /* Media Queries */
  @media (max-width: 1024px) {
    .outline-btn {
      display: none;
    }
  
    .docs--container {
      padding: 15px;
    }
  
    .docs--title {
      font-size: 50px;
    }
  
    .docs--tabContent {
      display: flex;
      flex-direction: column;
      /* justify-content: center; */
      /* flex-wrap: wrap; */
      gap: 20px;
    }
  
    .docs--subtitle {
      font-size: 22px;
      width: 90%;
    }
  
    .docs--tabText {
      width: 100%;
    }
  
    .docs--iframe,
    .docs--image {
      width: 100%;
      max-width: 450px;
      min-height: 100%;
      /* height: auto; */
      margin: 0 !important;
    }
  
    .docs--appsContainer,
    .docs--articlesContainer {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 20px;
    }
  
    .docs--appCard,
    .docs--articleCard {
      max-width: 454px;
      min-height: 128px;
      border: 1px solid #CBD5E0;
      border-radius: 16px;
      padding: 24px;
      display: flex;
    }
  }
  
  @media (max-width: 768px) {
    .docs--container {
      padding: 10px;
    }
  
    .docs--title {
      font-size: 40px;
    }
  
    .docs--subtitle {
      font-size: 20px;
      width: 100%;
    }
  
    .docs--featuredSection {
      font-size: 26px;
    }
  }
  
  @media (max-width: 450px) {
    .docs--container {
      padding: 5px;
    }
  
    .docs--title {
      font-size: 30px;
    }
  
    .docs--subtitle {
      font-size: 18px;
    }
  
    .docs--featuredSection {
      font-size: 22px;
    }
  
    .docs--appCard,
    .docs--articleCard {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .docs--appIcon,
    .docs--articleImage {
      width: 100px;
      height: 100px;
    }
  
    .docs--appInfo,
    .docs--articleInfo {
      margin-left: 0;
      margin-top: 16px;
    }
  }
  
  
  
  .button--primary {
    color: white;
  }
  
  .button--primary:hover {
    color: white;
    background-color: #4a9ca6;
    border: 1px solid #4a9ca6;
  }
  
  .navbar-sidebar__item {
    .menu__list {
      .menu__list-item {
        .button--primary {
          width: 100px;
        }
      }
    }
  }
  
  .DocSearch-Hit-content mark {
    background-color: yellow !important;
    color: black !important;
  }
  
  .menu__caret::before {
    background: var(--ifm-menu-link-sublist-icon) 50% / 1.3rem 1.3rem !important;
  }
  .tabs{
    margin-block: 24px !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1) ;
  }

  @media (min-width: 768px) {
    .margin-inline{
      margin-inline: 12px !important;
    }
    .btn-primary{
      height: 32px;
      width: 100px !important;
      color: white !important;
      background-color: #4a9ca6;
    } 
  }

  @media (max-width: 768px) {
    .margin-inline{
      margin-inline: 12px !important;
      width: 80% !important;
    }
    .btn-primary{
      border: 1px solid #4a9ca6;
      color: white !important;
    } 
  }
